[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pdf2image = "*"
fire = "*"
baidu-aip = {git = "https://github.com/Baidu-AIP/python-sdk.git",ref = "master"}
tqdm = "*"

[requires]
python_version = "3.7"
